* {
    box-sizing: border-box;
}

header {
    background-color: #eebb44;
    padding: 20px;
}

.logotop {
    font-family: roboto;
    font-size: 40px;
    font-weight: bold;
    padding-left: 20px;
}

.logobottom {
    font-family: roboto;
    font-size: 20px;
    padding-left: 20px;
}

.cards {
    margin: 20px;
    border: 1px solid silver;
}

.images {
    width: 100%;
    height: auto;
}

.names {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: roboto;
}

.explanations {
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: roboto;
}
